In [1]:
import googlemaps
import pandas as pd
import simplejson, urllib.request

In [2]:
gmaps = googlemaps.Client(key = 'AIzaSyCMhlhc38k2F_3l4lhNafmV8r6lzRXP2-8')
gmaps

In [3]:
column_list = [
    'House_address',
    'House_lat',
    'House_lng',
    'Activity_company',
    'Activity_address',
    'Activity_lat',
    'Activity_lng',
    'Activity_type'
]

column_list

['House_address',
 'House_lat',
 'House_lng',
 'Activity_company',
 'Activity_address',
 'Activity_lat',
 'Activity_lng',
 'Activity_type']

In [4]:
df = pd.DataFrame(columns = column_list)
df

Empty DataFrame
Columns: [House_address, House_lat, House_lng, Activity_company, Activity_address, Activity_lat, Activity_lng, Activity_type]
Index: []

In [5]:
address_list = [
    'Oosteinde 14, Wapserveen',
    'Marktvelderweg, Haaksbergen',
    'Groenendries, Huijbergen',
    'Oldenzaalsestraat 135, Losser'
]

In [6]:
type_activity_list = [
    'Supermarkt',
    'Zwembad',
    'Klimbos',
    'VR Game',
    'Lasergame',
    'Escaperoom',
    'Pretpark',
    'Basic Fit'
]

In [7]:
for address in address_list:
    df_dict = {}
    df_dict['House_address'] = address

    house_geocode = gmaps.geocode(address)
    house_lat_lon_dict = house_geocode[0]['geometry']['bounds']['northeast']
    df_dict['House_lat'] = house_lat_lon_dict['lat']
    df_dict['House_lng'] = house_lat_lon_dict['lng']

    for type_activity in type_activity_list:
        nearby_search_results_list = []
        activity_radius = 5000 #Begin eerst met zoeken naar activiteiten in een straal van 5 km.

        while(len(nearby_search_results_list) <= 3):
            nearby_search_results_list = gmaps.places_nearby(location = (df_dict['House_lat'], df_dict['House_lng']), radius = activity_radius, keyword = type_activity)['results']
            activity_radius += 5000 #Minder dan 3 activiteiten gevonden? Voeg dan 5 km toe!
            
        print(f"Radius {type_activity}: {activity_radius}")

        for nearby_search_result_dict in nearby_search_results_list:
            df_dict['Activity_company'] = [nearby_search_result_dict['name']]
            df_dict['Activity_address'] = [nearby_search_result_dict['vicinity']]
            df_dict['Activity_lat'] = [nearby_search_result_dict['geometry']['location']['lat']]
            df_dict['Activity_lng'] = [nearby_search_result_dict['geometry']['location']['lng']]
            df_dict['Activity_type'] = [type_activity]
            df = pd.concat([df, pd.DataFrame(df_dict)], ignore_index = True)
    
    print("=====================================")
    
df

Radius Supermarkt: 10000

C:\Users\jelle\AppData\Local\Temp\ipykernel_6252\2984066507.py:26: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame(df_dict)], ignore_index = True)

Radius Zwembad: 15000
Radius Klimbos: 30000
Radius VR Game: 40000
Radius Lasergame: 25000
Radius Escaperoom: 20000
Radius Pretpark: 20000
Radius Basic Fit: 20000
=====================================
Radius Supermarkt: 10000
Radius Zwembad: 10000
Radius Klimbos: 25000
Radius VR Game: 20000
Radius Lasergame: 20000
Radius Escaperoom: 15000
Radius Pretpark: 20000
Radius Basic Fit: 15000
=====================================
Radius Supermarkt: 10000
Radius Zwembad: 10000
Radius Klimbos: 40000
Radius VR Game: 30000
Radius Lasergame: 25000
Radius Escaperoom: 20000
Radius Pretpark: 40000
Radius Basic Fit: 15000
=====================================
Radius Supermarkt: 10000
Radius Zwembad: 10000
Radius Klimbos: 40000
Radius VR Game: 15000
Radius Lasergame: 20000
Radius Escaperoom: 15000
Radius Pretpark: 20000
Radius Basic Fit: 10000
=====================================

,House_address,House_lat,House_lng,Activity_company,Activity_address,Activity_lat,Activity_lng,Activity_type
0,"Oosteinde 14, Wapserveen",52.829929,6.261759,Supermarkten In Vledder,"Dorpsstraat 32, Vledder",52.857177,6.211619,Supermarkt
1,"Oosteinde 14, Wapserveen",52.829929,6.261759,Plus,"Hoofdstraat 82, Diever",52.854036,6.319763,Supermarkt
2,"Oosteinde 14, Wapserveen",52.829929,6.261759,Coop,"Dorpsstraat 32, Vledder",52.857184,6.211038,Supermarkt
3,"Oosteinde 14, Wapserveen",52.829929,6.261759,AGF Fa. Kamp en Co.,"Kruisstraat 6, Diever",52.855862,6.319764,Supermarkt
4,"Oosteinde 14, Wapserveen",52.829929,6.261759,Slagerij De Kei,"Dorpsstraat 25, Vledder",52.857458,6.211298,Supermarkt
...,...,...,...,...,...,...,...,...
217,"Oldenzaalsestraat 135, Losser",52.275558,6.965657,Ballorig Enschede,"J J Van Deinselaan 30, Enschede",52.206148,6.901392,Pretpark
218,"Oldenzaalsestraat 135, Losser",52.275558,6.965657,Basic-Fit Oldenzaal Nagelstraat 24/7,"Nagelstraat 40, Oldenzaal",52.313826,6.927879,Basic Fit
219,"Oldenzaalsestraat 135, Losser",52.275558,6.965657,Gym-Fit Sportschool Losser,"De Zoeker Esch 2A, Losser",52.249898,7.008000,Basic Fit
220,"Oldenzaalsestraat 135, Losser",52.275558,6.965657,Approach Fitness,"Ada Kokstraat 20, Oldenzaal",52.310779,6.916131,Basic Fit
221,"Oldenzaalsestraat 135, Losser",52.275558,6.965657,BroFit Personal Training Club,"Schuttekamp 16, Enschede",52.251053,6.906287,Basic Fit

## Afstanden berekenen

In [8]:
def string_to_minutes(time_string):
    parts = time_string.split()
    total_minutes = 0
    for i in range(0, len(parts), 2):
        if parts[i+1] == 'hours' or parts[i+1] == 'hour':
            total_minutes += int(parts[i]) * 60
        elif parts[i+1] == 'mins' or parts[i+1] == 'min':
            total_minutes += int(parts[i])
    return total_minutes

In [9]:
for index, row in df.iterrows():
    house_coords = str(df.at[index, 'House_lat']) + ', ' + str(df.at[index, 'House_lng'])
    activity_coords = str(df.at[index, 'Activity_lat']) + ', ' + str(df.at[index, 'Activity_lng'])
    
    bicycling_time = gmaps.directions(house_coords, activity_coords, mode = 'bicycling')[0]['legs'][0]['duration']['text']
    driving_time = gmaps.directions(house_coords, activity_coords, mode = 'driving')[0]['legs'][0]['duration']['text']

    df.at[index, 'Bicycling_total_minutes'] = string_to_minutes(bicycling_time)
    df.at[index, 'Driving_total_minutes'] = string_to_minutes(driving_time)

df

,House_address,House_lat,House_lng,Activity_company,Activity_address,Activity_lat,Activity_lng,Activity_type,Bicycling_total_minutes,Driving_total_minutes
0,"Oosteinde 14, Wapserveen",52.829929,6.261759,Supermarkten In Vledder,"Dorpsstraat 32, Vledder",52.857177,6.211619,Supermarkt,21.0,10.0
1,"Oosteinde 14, Wapserveen",52.829929,6.261759,Plus,"Hoofdstraat 82, Diever",52.854036,6.319763,Supermarkt,20.0,8.0
2,"Oosteinde 14, Wapserveen",52.829929,6.261759,Coop,"Dorpsstraat 32, Vledder",52.857184,6.211038,Supermarkt,21.0,10.0
3,"Oosteinde 14, Wapserveen",52.829929,6.261759,AGF Fa. Kamp en Co.,"Kruisstraat 6, Diever",52.855862,6.319764,Supermarkt,21.0,8.0
4,"Oosteinde 14, Wapserveen",52.829929,6.261759,Slagerij De Kei,"Dorpsstraat 25, Vledder",52.857458,6.211298,Supermarkt,21.0,10.0
...,...,...,...,...,...,...,...,...,...,...
217,"Oldenzaalsestraat 135, Losser",52.275558,6.965657,Ballorig Enschede,"J J Van Deinselaan 30, Enschede",52.206148,6.901392,Pretpark,42.0,19.0
218,"Oldenzaalsestraat 135, Losser",52.275558,6.965657,Basic-Fit Oldenzaal Nagelstraat 24/7,"Nagelstraat 40, Oldenzaal",52.313826,6.927879,Basic Fit,21.0,14.0
219,"Oldenzaalsestraat 135, Losser",52.275558,6.965657,Gym-Fit Sportschool Losser,"De Zoeker Esch 2A, Losser",52.249898,7.008000,Basic Fit,17.0,9.0
220,"Oldenzaalsestraat 135, Losser",52.275558,6.965657,Approach Fitness,"Ada Kokstraat 20, Oldenzaal",52.310779,6.916131,Basic Fit,22.0,11.0
221,"Oldenzaalsestraat 135, Losser",52.275558,6.965657,BroFit Personal Training Club,"Schuttekamp 16, Enschede",52.251053,6.906287,Basic Fit,28.0,14.0

In [10]:
df.dtypes

House_address               object
House_lat                  float64
House_lng                  float64
Activity_company            object
Activity_address            object
Activity_lat               float64
Activity_lng               float64
Activity_type               object
Bicycling_total_minutes    float64
Driving_total_minutes      float64
dtype: object

In [11]:
grouped = df.groupby(['House_address', 'Activity_type'], as_index = False)['Bicycling_total_minutes'].min().sort_values(['House_address', 'Bicycling_total_minutes'])
grouped

                    House_address Activity_type  Bicycling_total_minutes
5        Groenendries, Huijbergen    Supermarkt                      5.0
7        Groenendries, Huijbergen       Zwembad                     13.0
1        Groenendries, Huijbergen    Escaperoom                     27.0
0        Groenendries, Huijbergen     Basic Fit                     30.0
2        Groenendries, Huijbergen       Klimbos                     31.0
6        Groenendries, Huijbergen       VR Game                     52.0
4        Groenendries, Huijbergen      Pretpark                     58.0
3        Groenendries, Huijbergen     Lasergame                     77.0
13    Marktvelderweg, Haaksbergen    Supermarkt                     15.0
15    Marktvelderweg, Haaksbergen       Zwembad                     16.0
9     Marktvelderweg, Haaksbergen    Escaperoom                     19.0
8     Marktvelderweg, Haaksbergen     Basic Fit                     21.0
12    Marktvelderweg, Haaksbergen      Pretpark                     32.0
14    Marktvelderweg, Haaksbergen       VR Game                     37.0
11    Marktvelderweg, Haaksbergen     Lasergame                     41.0
10    Marktvelderweg, Haaksbergen       Klimbos                     44.0
23  Oldenzaalsestraat 135, Losser       Zwembad                      5.0
21  Oldenzaalsestraat 135, Losser    Supermarkt                     11.0
16  Oldenzaalsestraat 135, Losser     Basic Fit                     17.0
18  Oldenzaalsestraat 135, Losser       Klimbos                     23.0
19  Oldenzaalsestraat 135, Losser     Lasergame                     28.0
20  Oldenzaalsestraat 135, Losser      Pretpark                     29.0
22  Oldenzaalsestraat 135, Losser       VR Game                     31.0
17  Oldenzaalsestraat 135, Losser    Escaperoom                     33.0
25       Oosteinde 14, Wapserveen    Escaperoom                     11.0
29       Oosteinde 14, Wapserveen    Supermarkt                     14.0
24       Oosteinde 14, Wapserveen     Basic Fit                     20.0
27       Oosteinde 14, Wapserveen     Lasergame                     27.0
31       Oosteinde 14, Wapserveen       Zwembad                     27.0
30       Oosteinde 14, Wapserveen       VR Game                     43.0
28       Oosteinde 14, Wapserveen      Pretpark                     58.0
26       Oosteinde 14, Wapserveen       Klimbos                     63.0

In [12]:
df = df.set_index('House_address')
df.to_excel("Huisjes.xlsx", sheet_name = "Alle_huisjes")

In [13]:
grouped = grouped.set_index('House_address')
grouped.to_excel("Gemiddelde_afstanden.xlsx", sheet_name = "Gemiddelde_afstanden")